<p>Judge the sentiment of tweets about political candidates</p>

<h3>Overview</h3>

<p>In this job, you will be presented with tweets and other online posts that are 
about political candidates.</p>

<h3>Process</h3>

<ol>
  <li>Read the tweet.</li>

  <li>Determine if the tweet is relevant to the topic.</li>

  <li>Click all links found in the text for additional context.</li>

  <li>Determine if the tweet is positive, neutral, or negative.</li>
</ol>

<p>Posts can be classified as:</p>

<ul>
  <li>Very Positive The author is clearly excited about the topic of the tweet, 
  offers a strong recommendation for the product, expresses praise, or draws an 
  extremely favorable comparison with another product or topic.</li>

  <li>Slightly Positive Some aspects of the tweet uncover a positive mood; a 
  mildly positive comparison against another product; the tweet is positive 
  in nature but not ecstatic (like “Very Positive” above).</li>

  <li>Neutral The tweet is purely informative in nature and does not provide 
  any hints as to the mood of the writer; the topic is presented in a completely 
  neutral context - no indication of the merits or disadvantages of the topic is 
  present; or there is too little data to tell</li>

  <li>Slightly Negative The tweet that is slightly negative in tone; a moderately 
  negative comparison against another topic; mixed feedback that is more critical 
  than positive in nature</li>

  <li>Very Negative The author’s attitude is clearly negative; the writer is 
  describing a bad experience; writer uses slur words or diminishing comparisons 
  in respect to topic</li>
</ul>
